%h2 Sign in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group{:class => ("has-error" unless resource_name.errors[:email].blank?)}
    = f.label :email
    = f.text_field :email, :required => true, class: 'form-control'
  .form-group{:class => ("has-error" unless resource_name.errors[:password].blank?)}
    = f.label :password
    = f.text_field :password, :required => true, class: 'form-control'

  .form-actions
    = f.button :submit, "Sign in"
= render "devise/shared/links"
