%h1 Listing categories

%span.lead= link_to 'New Category', new_category_path
%br

%table.table.table-striped.table-hover
  %tr
    %th.col-lg-9.col-md-9.col-sm-9.col-xs-6.text-center Name
    %th.col-lg-1.col-md-1.col-sm-1.col-xs-2
    %th.col-lg-1.col-md-1.col-sm-1.col-xs-2
    %th.col-lg-1.col-md-1.col-sm-1.col-xs-2

  - categories.each do |category|
    %tr
      %td.text-center= category.name
      %td= link_to 'Show', category

      %td
        - if !current_user.nil? && current_user.admin?
          = link_to 'Edit', edit_category_path(category)
        - else
          = ''

      %td
        - if !current_user.nil? && current_user.admin?
          = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }
        - else
          = ''

%br

%span.lead= link_to 'New Category', new_category_path


