.container.cat-form-div
  %p#notice.lead.text-success= notice

  .row.bottom-separation
    .col-md-4
      %span.lead.text-primary Name:
      %span.lead= category.name


  %table.table.mrg-top
    %thead
      %tr
        %td.lead Category products:
    - category.products.each do |product|
      %tr
        %td
          = product.title

  - if !current_user.nil? && current_user.admin?
    %p
      %h3 New product
      = render 'products/form'

  .row.add-buttons
    .col-md-12
    - if !current_user.nil? && current_user.admin?
      = link_to 'Edit', edit_category_path(category)
    \|
    = link_to 'Back', categories_path, class: 'btn btn-primary'
