.container.cat-form-div
  %p#notice.lead.text-success= notice
  %p#error.lead.text-danger= flash[:error]

  %table.table
    %tr
      %td.col-md-1.lead.text-right.text-primary Title:
      %td.col-md-11.text-center= product.title
    %tr
      %td.col-md-1.lead.text-right.text-primary Description:
      %td.col-md-11.text-center= product.description
    %tr
      %td.col-md-1.lead.text-right.text-primary Price:
      %td.col-md-11.text-center= product.price

    %tr
      %td.col-md-1.lead.text-right.text-primary Category
      %td.col-md-11.text-center= product.category.name

  %h3 Reviews
  = render reviews

  = render 'reviews/form'



  .row.add-buttons
    .cold-md-12
      - if !current_user.nil? && current_user == product.user
        = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-default'

        = link_to 'Back', category_products_path, class: 'btn btn-default'
