!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid.head
        .row
          .col-md-8.col-md-offset-2.text-center
            %span.lead #{AppConfig.workshops_name}
          .col-md-2.text-center
            .row
              - if current_user.nil?
                .col-md-6
                  %span.lead.red-hover=  link_to "Sign in", new_user_session_path
                .col-md-6
                  %span.lead.red-hover=  link_to "Sign up", new_user_registration_path
              - else
                .col-md-12
                  %span.lead.red-hover= link_to "Sign out", destroy_user_session_path, :method => :delete

    .container-fluid
      .row
        .col-lg-12
          = yield
